.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

.todolist {
    padding: 30px 0;
    width: 450px;
    min-height: 200px;
    background-color: #0c242e;
    border-radius: 30px;
    color: beige;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 0;
}

.headLine {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 900px;
    color: beige;
    margin-bottom: 20px;
}

.inputs {

    input {
        width: 300px;
        height: 45px;
        border: none;
        border-radius: 10px;
        outline: none;
        padding-left: 15px;
        font-size: 18px;
        margin-right: 20px;
        background: none;
        border: 1px solid rgba(101, 78, 252, 1);
        color: beige;
    }

    input::placeholder {
        color: rgba(240, 179, 118, 0.349);
    }

    button {
        padding: 0 10px;
        height: 45px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 206, 148, 0.742734593837535) 100%);
        color: beige;
    }
    button:hover{
        opacity: 0.8;
    }
}

.tarefas {
    ul {
        width: 350px;
        list-style: none;
        margin-top: 30px;
    }
}

.tarefa {
    color: beige;
    font-size: 20px;

    border-radius: 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(233, 206, 148, 0.742734593837535) 100%);

    height: 45px;
    margin-bottom: 20px;

    button {
        background: none;
        border: none;
        cursor: pointer;

        .icon-trash {
            color: beige;            
        }
        .icon-trash:hover{
            opacity: 0.6;
        }
    }
}

@media (max-width: 530px) {
    .todolist{
        width: 300px;
        min-height: 100px;
    }
    .headLine{
        font-size: 35px;
    }
    .inputs input{
        width: 200px;
        height: 35px;
    }
    .tarefas ul{
        width: 250px;
    }
    .inputs button{
        padding: 0 5px;
        height: 35px;
    }
}
@media (max-width: 360px) {
    .todolist{
        width: 200px;
        min-height: 50px;
    }
    .headLine{
        font-size: 20px;
    }
    .inputs input{
        width: 100px;
    }
    .tarefas ul{
        width: 150px;
    }
    .inputs input {
        font-size: 60%;
    }
    .inputs button{
        padding: 0 5px;
        height: 23px;
    }
    .inputs input{
        width: 114px;
        height: 19px;
    } 
}